


.hero-h1{
    font-size: 2.7rem;
}

.hero-p{
    font-size: 1.2rem;
}

.btn-sigin{
   width: 20%;
   padding: 0.5rem 0;
   text-transform: capitalize;
   margin: 0 auto;
   margin-top: 1rem;
   font-weight: 500;
   font-size: 1.3rem;
}

.btn-sigin:hover{
    background-color: black;
}

/* ============================================================================== */

.award-p {
    padding-right: 4rem;
}

.awards-row{
    margin-top: 3rem;
    padding-right: 4rem;
}

.press-img{
    margin-top: 2rem;
    width: 90%;
}

/* =========================== stats ===================================== */

.stats-con{
    margin-top: 9rem;
    padding: 0 3rem;
}

.stat-h1{
    margin-top: 1rem;
}

.stats-image {
    width: 39rem;
    height: 40rem;
    margin-left: 1rem;
}

.text-container{
    margin-top: 3rem;
}

.text-container p{
    font-size: 1rem;
    opacity: 0.8;
    text-transform: capitalize;
}

.text-container h3{
    margin-top: 2.5rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.links-inStats{
    text-align: center;
    margin-right: 2rem;
}

.links-inStats a{
    padding: 0 1rem;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.2rem;
}

/* =========================== pricing ===================================== */

.pricing {
    margin-top: 9rem;
}

.pri-con{
    padding: 0 6rem;
}

.price-h1{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.price-p{
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 2rem;
}
.sec-pricing-col{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}
.pricing-box{
    display: flex;
    font-size: 0.7rem;
    opacity: 0.9;
    justify-items: center;
}
.pricing-box p{
    transform: translate(-13px,34px);
    margin: 0;
}

.pricing-box img{
    height: 7rem;
}

.price-link{
    margin-top: 0.5rem;
}

.price-link a{
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;
}

/* =========================== education ===================================== */

.education-container {
    margin-top: 8rem;
    padding: 0 3rem;
    margin-bottom: 5rem;
}

.edu-h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.edu-p{
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.9;
    padding-right: 7rem;
    text-transform: capitalize;
    margin-top: 2.5rem;
}

.edu-links{
    margin-top: 1.5rem;
}

.edu-links a{
    text-decoration: none;
    font-size: 1.2rem;
}